<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/cslogo.jpg" height="60" title="Notebooks and Hacks" alt=""></td>
        <td><a href="{{site.baseurl}}/github/pages/planning-and-emoji">Planning and Emoji Notebook</a></td>
        <td><a href="{{site.baseurl}}/github/pages/frontend-hacks">Frontend Hacks</a></td>
        <td><a href="{{site.baseurl}}/github/pages/sass-hacks">SASS Hacks</a></td>
        <td><a href="{{site.baseurl}}/github/pages/brazil">Brazil Guide</a></td>
        <td><a href="{{site.baseurl}}/github/pages/italy">Italy Guide</a></td>
        <td><a href="{{site.baseurl}}/github/pages/hacks_3-3">3.3 Hacks</a></td>
        <td><a href="{{site.baseurl}}/github/pages/hacks_3-5">3.5 Hacks</a></td>
    </tr>
</table>