<table></table>
    <tr>
        <td><img src="{{site.baseurl}}/images/cslogo.png" height="60" title="JS Project" alt=""></td> 
        <td><a href="{{site.baseurl}}/javascript/project/binary-calculator">Binary Calculator</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/cookie-clicker">Cookie Clicker</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/snake">Snake Game</a></td>
    </tr>
</table>