<table>
    <tr>
        <td><a href="{{site.baseurl}}/sprint/7/tech_talks">Tech Talks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_1">Beneficial and Harmful Lesson Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_2">Digital Divide Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_3">Computing Bias Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_4">Crowdsourcing Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_5">Legal and Ethical Implications Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_6">Safe Computing Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_7">Binary Search Algorithms Hacks</a></td>
    </tr>
</table>