<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/cslogo.jpg" height="60" title="Notebooks and Hacks" alt=""></td>
        <td><a href="{{site.baseurl}}/sprint/1/planning-and-emoji">Planning and Emoji Notebook</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/frontend-hacks">Frontend Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/sass-hacks">SASS Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/brazil">Brazil Guide</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/italy">Italy Guide</a></td>
   </tr>
</table>