<table>
    <tr>
        <td><a href="{{site.baseurl}}/sprint/7/tech_talks">Tech Talks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_1">Beneficial and Harmful Lesson Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_2">Digital Divide Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_3">Computing Bias Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_4">Crowdsourcing Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_5">Legal and Ethical Implications Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_6">Safe Computing Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_7">Binary Search Algorithms Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_8">Lists and Filtering Algorithms Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_9">Big O Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_10">Undecidable Problems and Graphs and Heuristics Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/mcreflect">MC Reflection 2021</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/studyplan">Study Plan</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_11">Binary</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_12">Logic Gates</a></td>
        <td><a href="{{site.baseurl}}/sprint/7/hacks_13">Digital Images</a></td>
    </tr>
</table>