<table>
    <tr>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-1">3.1 Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-1">3.2 Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-3">3.3 Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-4">3.4 Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-5">3.5 Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-8">3.8 Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-10a">3.10a Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/hacks_3-10b">3.10b Hacks</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/blog">Sprint 2 Personal Learnings Blog</a></td>
        <td><a href="{{site.baseurl}}/sprint/2/team-blog">Sprint 2 Team Blog</a></td>
    </tr>
</table>