<table>
    <tr>
        <td><a href="{{site.baseurl}}/sprint/4/tech-talk">Sprint 4 Tech Talk Notes</a></td>
        <td><a href="{{site.baseurl}}/sprint/4/flask-intro">Flask and Python Web Server Dev Intro</a></td>
        <td><a href="{{site.baseurl}}/sprint/4/tech-talk-2">Sprint 5 Tech Talk Notes</a></td>
        <td><a href="{{site.baseurl}}/sprint/4/sqlalchemy">SQLAlchemy Code</a></td>
        <td><a href="{{site.baseurl}}/sprint/4/sqlconnect">SQLConnect Code</a></td>
        <td><a href="{{site.baseurl}}/sprint/4/cs-panel">GiCS Panel Notes</a></td>
    </tr>
</table>